.cardBody {
  color: gray;
}
.searchcard {
  height: 100%;
  width: 100%;
  position: relative;
  transition: 0.2s;
  border: 1px solid rgba(128, 128, 128, 0.199);
  background-color: white !important;
  border-radius: 10px;
  overflow: hidden;
}
.searchcard:hover {
  text-decoration: none;
  transform: scale(1.05);
  z-index: 999;
  border: 1px solid rgb(209, 209, 209);
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.493);
}
.link:hover {
  text-decoration: none !important;
  border: 0px solid grey;
}
.searchDesc {
  overflow: hidden;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  height: 5rem !important;
  width: 100%;
}
.navBtns {
  border-radius: 50%;
  transition: 0.2s;
  height: 2rem;
  aspect-ratio: 1/1;
  cursor: pointer;
  box-shadow: 0 0 2px grey;
}
.navBtns:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px grey;
}
.navBtns:active {
  transform: scale(1);
  box-shadow: 0 0 15px white;
}
